<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMK6qlxK6KUFJw_aqIG5csGjzL5jsWm64</string>
	<key>GCM_SENDER_ID</key>
	<string>1000665435189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olgunbingol.cookapp</string>
	<key>PROJECT_ID</key>
	<string>newcookapp</string>
	<key>STORAGE_BUCKET</key>
	<string>newcookapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000665435189:ios:a319a977e97124cd35757c</string>
</dict>
</plist>